<ul>
	<% @urls.each do |url| %>
		<li><%= url.id %></li>
		<li><%= url.long_url %></li>
		<li><%= link_to "#{root_url}#{url.short_url}", fo_sho_path(url) %></li>
	<% end -%>
</ul>

<%= link_to "Create a new short URL", new_url_path %>